# 开发环境配置
spring:
  datasource:
    druid:
      url: jdbc:mysql://localhost:3306/virtual_training_platform?useUnicode=true&characterEncoding=utf8&zeroDateTimeBehavior=convertToNull&useSSL=false&serverTimezone=Asia/Shanghai&allowPublicKeyRetrieval=true
      username: root
      password: 123456

  data:
    redis:
      host: localhost
      port: 6379
      password:
      database: 0

# MyBatis Plus日志
mybatis-plus:
  configuration:
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl

# 日志配置
logging:
  level:
    root: info
    com.training: debug
    com.training.module.*.mapper: debug
